<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} {% endblock %}
    </title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
</head>
<body>

    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <nav class="navbar navbar-light bg-ligth text-white">
           <a class="nav-link"  href="/" title="SIMULACION">SIMULACION</a>
        </nav>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

        </div>
    </nav>

    {% block content %} {% endblock %}

</body>
</html>