{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}TP Final{% endblock %}
{% block content %}

<head>
     <style type="text/css">
        .table-responsive {
            height:200px;
            overflow:scroll;
        }

        thead tr:nth-child(1) th { position: sticky; top: 0; }
        thead tr:nth-child(2) th { position: sticky; top: 0; }
     </style>

</head>

<div class="index-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">TP Final</h1>
    <p class="lead">Ejercicio 253</p>
</div>

{% if form %}

    <div class="container">
        <!-- Parametros de entrada -->
            <form class="bg-light mr-5" method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                {% crispy form form.helper %}
                <!-- Boton Simular -->
                <div class="row justify-content-center mb-3">
                    <input type="submit" class="btn btn-primary" value="Simular">
                </div>
            </form>
    </div>


{% else %}


<div class="container mt-5">
    <!-- Tabla de datos de entrada-->
    <div class="index-header">
        <h5>Datos de entrada de la simulacion</h5>
    </div>
    <div class="mt-3 text-center">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Segundos simulados</th>
                    <th>Segundo de inicio de informe</th>
                    <th>Segundo de fin de informe</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for col in vectorEntrada %}
                    <td>{{ col }}</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container mt-5">
    <!-- Tabla de datos de personas en sistema-->
    <div class="index-header">
        <h5>Datos de personas en sistema cada 30 minutos</h5>
    </div>
    <div class="mt-3 text-center">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>momento</th>
                    <th>personas</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for fila in matriz_personas %}
                    <tr>
                        {% for registro in fila %}
                            <td>{{ registro }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container mt-5">
    <!-- Tabla de datos de personas en sistema-->
    <div class="index-header">
        <h5>Datos de personas en sistema cada 30 minutos</h5>
    </div>
    <div class="mt-3 text-center">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Promedio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <tr>
                    <td>{{ promedio }}</td>
                    </tr>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container mt-5">


    <div class="index-header">
        <h5>Tabla de resultados de la simulacion</h5>
    </div>
    <div class="mt-3 text-center">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th colspan="2" class="table-light" ></th>
                    <th class="table-primary" colspan="2">Llegadas</th>
                    <th class="table-success" colspan="4"> Estadisticas</th>

                    {% for col in clientes %}
                        <th class="table-info table-bordered table-striped" colspan="2">Persona {{id_cliente}}</th>
                    {% endfor %}
                </tr>
                <tr>

                    <th>Evento</th>
                    <th>Reloj</th>
                    <th>Proxima llegada Cliente A</th>
                    <th>Proxima llegada Cliente B</th>


                    <!-- Estadisticas-->
                    <th>contador</th>
                    <th>AC</th>
                    <th>p en sis.</th>
                    <th>Promedio Permanencia</th>

                    <!-- agregar for que agregue la cabecera de abajo por la cantidad de trabajos generados-->

                    {% for col in clientes %}
                        <th>estado</th>
                        <th>fin_perm</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for col in vectorResultado %}
                    <td>{{ col }}</td>
                {% endfor %}
                </tr>

            </tbody>
        </table>
    </div>
</div>

<div class="container mt-5">
    <!-- Tabla de resutados de simulacion y Paginador-->
    <div class="index-header ">
        <h5>Tabla de intervalo de simulación</h5>
    </div>
    <div class="mt-3 text-center">
        <table class="table table-fixed table-bordered table-hover">
            <thead>
                <tr>
                    <th colspan="2" class="table-light" ></th>
                    <th class="table-primary" colspan="2">Llegadas</th>
                    <th class="table-success" colspan="4"> Estadisticas</th>

                    {% for col in clientes %}
                        <th class="table-info table-bordered table-striped" colspan="2">Persona {{id_cliente}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <thead class="thead-dark table-bordered">
                <tr class="table-active" >

                    <th>Evento</th>
                    <th>Reloj</th>
                    <th>Proxima llegada Cliente A</th>
                    <th>Proxima llegada Cliente B</th>



                    <!-- Estadisticas-->
                    <th>contador</th>
                    <th>AC</th>
                    <th>p en sis.</th>
                    <th>Promedio Permanencia</th>

                    <!-- agregar for que agregue la cabecera de abajo por la cantidad de trabajos generados-->

                    {% for col in clientes %}
                        <th>estado</th>
                        <th>fin_perm</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for fila in matrizResultado %}
                    <tr>
                        {% for registro in fila %}
                            <td>{{ registro }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- <span class="label label-default font-weight-bold">Registros: {{RegistrosTotal}}</span> -->
    </div>
</div>

{% endif %}

{% endblock %}